*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}


#LandPage{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('');
    background-size: cover;
    background-repeat: no-repeat; */ */
}

header{
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
    align-items: center;
}

header img{
    width: 80px;
    height: 80px;
}



.logo{
    position: relative;
    display: flex;
}
/* .logo img{
    width: 80px; */

}
nav{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

nav a{
    color: rgb(12, 7, 7);
    text-decoration: none;
    padding: 10px 5px;
    margin: 0 10px;
}


#call{
    border: 5px;
    border-radius: 5px;
    border-color: white solid;
    padding: 10px;
    margin: 10px;
}

#overlaytext{
    margin-top: 130px;
    color: rgb(6, 1, 1);
    text-align:center;
}

#getstarted{
    color: white;
    border: 5px;
    border-radius: 5px;
    padding: 20px 40px;
    margin-top: 50px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h1{
font-size: 117px;
font-weight: 100;
margin: 0;
}

h2{
    font-size: 50px;
    font-weight: 100;
    margin: 0;
}
p{
 font-size: 16px;
}

#servicebar{
    width: 30px;
    margin: 0px auto;

}

.Servicestitle > h1{
    font-size: 32px;
    margin: 30px;
    justify-content: center;
    text-align: center;
}

.frames.container{
    display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
}

.frame{
    width: 400px;
    text-align: left;
    margin: 10px;
}

.frame img{
    width: 100%;
}

.frame img +p{
    color: red;
}


